    <footer class="footer">
        <div class="contacto">
            <h3>Contacto</h3>
            <p>Correo: tienda@tienda.com</p>
            <p>Teléfono: 1234567890</p>
        </div>
        <div class="redes">
            <h3>Redes sociales</h3>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </footer>