    <header class="header">
        <div class="contenido-header">
            <div class="logo-menu">
                <div class="logo">
                    <a href="/"><img src="img/Sargames_studio-removebg-preview.webp" alt="Logo de la tienda" width="150" height="42"></a>
                    
                </div>
                <button class="hamburguesa">☰</button>
            </div>
            <nav class="menu">
                <a href="/" class="menu-item"> <i class="fa-solid fa-house"></i> Inicio</a>
                <a href="/nosotros" class="menu-item"> <i class="fa-solid fa-users"></i> Nosotros</a>
                <a href="/contacto" class="menu-item"> <i class="fa-solid fa-phone"></i> Contacto</a>
                <a href="/alta" class="menu-item"> <i class="fa-solid fa-upload"></i> Alta</a>
            </nav>
            <div class="busqueda-carrito">
                    <input type="text" placeholder="Buscar productos" class="buscador">
                <div class="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>     
    </header>