





<main class="contacto">

    <h2>
        Traer Datos
    </h2>

    <div style="text-align: center;">
        <h1>
            Bienvenido | {{ nombre }} 
        </h1>
    </div>

</main>