

<h1>
    Traer Datos
</h1>

<ul>
    {{#each usuarios}}
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Mensaje</th>
            </tr>
            <tr>
                
                <td>{{this.nombre}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mensaje}}</td>
            </tr>
            <form action="/editaruser/{{this._id}}" method="POST">
                <button type="submit">Guardar</button>
            </form>
        </table>
    {{/each}}
</ul>