
.AMain {
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    min-height: 85dvh;
}

.Tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.Tittle h1 {
    font-size: 3rem;
    color: #333;
    text-align: center;
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TittleAnimation {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.AddProduct {
    width: 100%;
    max-width: 700px;
    background-color: #ffffff;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

.AddProductForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: .5rem;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button[type="submit"] {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
    grid-column: span 2;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

input[type="checkbox"] {
    margin-right: .5rem;
}

.form-group.inline {
    display: flex;
    align-items: center;
    grid-column: span 2;
}
