<div class="container mt-5">
    <h1 class="">
        Error: {{ error }}
    </h1>

    <img src="https://media.revistagq.com/photos/5ea81a6f7cd6bf0008ceebca/16:9/w_2560%2Cc_limit/los-simpson.jpeg" alt="error">

    
</div>